.img-upload-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  background-color: #fdfdfd;
}

.upload-head {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hidden-input {
  display: none;
}

.custom-file-button {
  display: block;
  width: 240px;
  padding: 10px 16px;
  background-color: #187b22;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 500;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.custom-file-button:hover {
  background-color: rgb(93, 168, 101);
  color: black;
  
}

.preview-section {
  text-align: center;
  margin-top: 20px;
}

.preview-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.imgbox {
  max-height: 250px;
  max-width: 100%;
  border: 2px solid #ccc;
  padding: 6px;
  border-radius: 12px;
  background-color: white;
  object-fit: contain;
}

.btn-upload {
  background-color: #003366;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  font-weight: 560;
  width: 268px;
  font-style: normal;
}

.btn-upload:hover {
  background-color: #002244;
}

.result-container {
  margin-top: 30px;
}

.prediction-box {
  background-color: #e60000;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.prediction-title {
  font-size: 18px;
  font-weight: bold;
}

.prediction-label {
  font-size: 22px;
  margin: 5px 0;
  text-transform: capitalize;
}

.explanation-box {
  background-color: #dff7df;
  color: #2e7d32;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.tips-box {
  background-color: #e8f5e9;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.tips-box ul {
  padding-left: 20px;
}

.advice-box {
  background-color: #fff8e1;
  border-left: 4px solid #fbc02d;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.error-text {
  color: red;
  font-weight: bold;
  text-align: center;
}
